{% extends 'base.html' %}
{% block title %}
    <title>SDS Memeber Info Update</title>
{% endblock title %}
{% block background %}
    <div class="container">
        <form action="/projects/update/{{update.started}}" method="POST">
            <div class="mb-3">
                <label for="Name" class="form-label text-dark fs-4 fw-bold">Project Name</label>
                <input type="text" class="form-control" id="projectName" name="projectName" value="{{update.projectName}}" required>
            </div>
            <div class="mb-3">
                <label for="Desc" class="form-label text-dark fs-4 fw-bold">Project Description</label>
                <input type="text" class="form-control" id="projectDesc" name="projectDesc" value="{{update.projectDesc}}" required>
            </div>
            <div class="mb-3">
                <label for="MIS" class="form-label text-dark fs-4 fw-bold">Project head's MIS</label>
                <input type="number" class="form-control" id="Mis_projectHead" name="Mis_projectHead" value="{{update.mis_projectHead}}" required>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label text-dark fs-4 fw-bold">Project head's Email address</label>
              <input type="email" class="form-control" id="Email_projectHead" aria-describedby="emailHelp" value="{{update.email_projectHead}}" name="Email_projectHead" required>
            </div>
            <button type="submit" class="btn btn-primary">Update Project Details</button>
          </form>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
{% endblock background %}